/* user.less */
.userprofile .fullprofilelink {
    text-align: center;
    margin: 10px;
}
.userprofile .description {
    margin-bottom: 20px;
}
.userprofile table.list th {
    font-weight: normal;
    text-align: left;
}
.user-box {
    margin: 8px;
    width: 115px;
    height: 160px;
    text-align: center;
    float: left;
    clear: none;
}
.userlist .main .action-icon img {
    vertical-align: middle;
}
.userlist #showall {
    margin: 10px 0;
}
.userlist .buttons {
    text-align: center;
}
.userlist .buttons label {
    padding: 0 3px;
}
.userlist table#participants {
    text-align: center;
}
.userlist table#participants td,
.userlist table#participants th {
    vertical-align: middle;
    text-align: left;
    padding: 4px;
}
.userlist table.controls {
    width: 100%;
}
.userlist table.controls tr {
    vertical-align: top;
}
.userlist table.controls td.right,
.userlist table.controls td.left {
    padding: 4px;
}
.userlist table.controls .right {
    text-align: right;
}
.userinfobox {
    width: 100%;
    border: 1px solid;
    border-collapse: separate;
    padding: 10px;
}
.userinfobox .left,
.userinfobox .side {
    width: 100px;
    vertical-align: top;
}
.userinfobox .userpicture {
    width: 100px;
    height: 100px;
}
.userinfobox .content {
    vertical-align: top;
}
.userinfobox .links {
    width: 100px;
    padding: 5px;
    vertical-align: bottom;
}
.userinfobox .links a {
    display: block;
}
.userinfobox .list td {
    padding: 3px;
}
.userinfobox .username {
    padding-bottom: 20px;
    font-weight: bold;
}
.userinfobox td.label {
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    font-weight: bold;
}
.groupinfobox {
    border: 1px solid;
}
.groupinfobox .left {
    padding: 10px;
    width: 100px;
    vertical-align: top;
}
.course-participation #showall {
    text-align: center;
    margin: 10px 0;
}
#user-policy .noticebox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    height: 250px;
}
#user-policy #policyframe {
    width: 100%;
    height: 100%;
}
.iplookup #map {
    margin: auto;
}
.userselector select {
    width: 100%;
}
.userselector div {
    margin-top: 0.2em;
}
.userselector div label {
    margin-right: 0.3em;
}
/* Next style does not work in all browsers but looks nicer when it does */
.userselector .userselector-infobelow {
    font-size: 0.8em;
}
#userselector_options {
    padding: 0.3em 0;
}
#userselector_options .collapsibleregioncaption {
    font-weight: bold;
}
#userselector_options p {
    margin: 0.2em 0;
    text-align: left;
}
.dir-rtl #userselector_options p {
    text-align: right;
}
/** user full profile */
#page-user-profile .messagebox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/** user course profile */
#page-course-view-weeks .messagebox {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/** Overide for RTL layout **/
.dir-rtl .descriptionbox {
    margin-right: 110px;
    margin-left: 0;
}
.dir-rtl .userlist table#participants td,
.dir-rtl .userlist table#participants th {
    text-align: right;
}
.dir-rtl .userlist table#participants {
    margin: 0 auto;
}
#page-my-index.dir-rtl .block h3.main {
    text-align: right;
}
